@model WebStore.Models.Entities.Products
<div class="col-md-4">
    <div class="thumbnail">
        <div class="imageSize">
            <div class="imagemiddle">
                <a href="@Url.Action("View", new { id = Model.ProductID })">
                    @Html.Image("/Content" + Model.Image, Model.Name)
                </a>
            </div>
        </div>
        <div class="caption">
            <h4 class="text-center productName">@Model.Name (@Model.Price.ToString("c"))</h4>

            <div class="row">
                <div class="col-md-6">
                    @Html.Bootstrap().ActionLinkButton("<span class=\" glyphicon glyphicon-list-alt\"></span> Перегляд", "View/" + Model.ProductID).Class("btn btn-primary")
                </div>
                <div class="col-md-6">
                    @{Html.RenderPartial("_AddToCart", Model);}
                </div>
            </div>
        </div>
    </div>
</div>
